<div class="background row">
  <div class="container my-auto">
    <h2 class="text-center mt-0 text-black">About Us</h2>
    <hr class="divider my-4" />
    <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
              <p class="text-black mb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga repudiandae veniam aliquam velit delectus recusandae porro vel aspernatur, ratione, excepturi, tempora quod laborum tempore blanditiis eligendi adipisci nobis quisquam ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque maiores dolore voluptas accusamus? Autem est saepe qui voluptas ex asperiores dolore illum eius hic? Expedita nihil accusantium nam vitae. Quod.</p>
              <h2 class="text-center mt-0 text-black">Our Goal</h2>
              <hr class="divider my-4" />
              <p class="text-black mb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga repudiandae veniam aliquam velit delectus recusandae porro vel aspernatur, ratione, excepturi, tempora quod laborum tempore blanditiis eligendi adipisci nobis quisquam ad.</p>
            </div>
      </div>
  </div>
  </div>
</div>
