<div class="background row">
  <div class="container my-auto py-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0 text-black">Talk to us!</h2>
        <hr class="divider my-4" />
        <p class="text-black mb-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia cum sunt eveniet
          rem, laborum eum vero natus eaque beatae a nobis dolorum suscipit</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
        <i class="fas fa-phone fa-2x mb-3 text-black">&nbsp;Zeus CellPhone</i>
        <hr class="divider my-4" />
        <div class="text-black">+55 (11) 9999-9999</div>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fas fa-envelope fa-2x mb-3 text-black">&nbsp;Zeus e-mail</i>
        <hr class="divider my-4" />
        <a class="d-block text-white" href="mailto:Zeus@StrongSchool.com.br">Lorem-ipsum@Lorem.com.br</a>
      </div>
      <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
        <i class="fab fa-whatsapp fa-2x mb-3 text-black">&nbsp;Zeus WhatsApp</i>
        <hr class="divider my-4" />
        <div class="text-black">+55 (11) 9999-9999</div>
      </div>
    </div>
  </div>
</div>
