/* You can add global styles to this file, and also import other style files */
* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: white;
}
