<div class="background">
  <h2 class="text-white text-center pt-5">Testimonials</h2>
  <hr class="divider mx-auto my-4" />
  <div class="vertical-align">

    <div class="custom-container mx-auto">
      <div class="box">
        <div class="content">
          <img src="assets/Images/Quotes.png" alt="" class="quote">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id maiores ipsum libero illo assumenda consequatur!</p>
          <img src="assets/Images/user1.jpg" alt="" class="user">
          <h3>Luana Ramos</h3>
        </div>
      </div>

      <div class="box">
        <div class="content">
          <img src="assets/Images/Quotes.png" alt="" class="quote">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id maiores ipsum libero illo assumenda consequatur!</p>
          <img src="assets/Images/user2.jpg" alt="" class="user">
          <h3>Roger Souza</h3>
        </div>
      </div>

      <div class="box">
        <div class="content">
          <img src="assets/Images/Quotes.png" alt="" class="quote">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id maiores ipsum libero illo assumenda consequatur!</p>
          <img src="assets/Images/user3.jpg" alt="" class="user">
          <h3>Amanda Carla</h3>
        </div>
      </div>
    </div>
  </div>
</div>
